*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 20px ;
    background-color: white;
}
.leftnavbar img{
    width: 30px;
}
.rightnavbar img{
    width: 30px;
}
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 15px;
}
.aboutme p{
    display: flex;
    flex-direction: column;
    height:130px;
    width: 1000px;
    padding: 30px;
    border-radius: 15px;
    background-color: #B1B1B1;
}
.myskills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;

}
.stats{
    margin: 0 auto;
    width: 900px;
    padding-left: 100px;
    margin-bottom: 30px;
    animation-name: SlideRight;
    animation-duration: 2s;
}
@keyframes SlideRight{
    from{transform: translateX(-300%);}
}
.stats2{
    margin: 0 auto;
    width: 900px;
    padding-left: 100px;
    margin-bottom: 50px;
    animation-duration: 2s;
    animation-name: SlideLeft;
}
@keyframes SlideLeft{
    from{transform: translateX(300%);}
}
.skills img {width: 150px;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0px ;
    padding-left: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Projectsmain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
img{
    width: 500px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.menu{
    height: 100%; /* 100% Full-height */ /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color:lightgray;
    width: 0;
    top: 0; /* Stay at the top */
    left: 0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
}
.menu ul{
    padding: 8px 8px 8px 32px;
    list-style: none;
    background-color:lightgray;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.menu img{
    width: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: fixed;
}

.myskills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;

}
.label {
    margin-bottom: 5px;
    font-size: 16px;
}

.bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bar {
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    padding-left: 10px;
}

.css-bar {
    width: 90%;
    background-color: #265AEA; 
}

.html-bar {
    width: 85%;
    background-color: #EF6939; 
}

.python-bar {
    width: 50%;
    background-color: #4685B1; 
}
.Js-bar {
    width: 90%;
    background-color: #EFD81D; 
}
.Mern-bar {
    width: 85%;
    background-color: #12A54F; 
}
.Java-bar {
    width: 50%;
    background-color: #E87408; 
}
.skills img {width: 150px;
}
.myclients{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 30px 0;
}
.myclients img {
    width: 400px;
}
.clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}
.contactme h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.contactme{
    background-image: url(https://img.freepik.com/free-vector/blue-border-abstract-gradient-background_53876-115744.jpg?t=st=1729002194~exp=1729005794~hmac=579ecb32f06370870ee3bc8f5ffce8184e7021a022749c446d9f906abea2d928&w=1380);
    background-size: cover;
    padding-bottom: 20px;
}
.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.name{
    display: flex;
    gap: 30px;
    height: 40px;
}
.emailinput{
    width: 300px;
    height: 30px;
}
.feedbacksbtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.feedbacks{
    width: 500px;
    height: 200px;
}
.feedbacksbtn button{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: royalblue;
    color: white;
    box-shadow: 2px 3px black;
}
