*{
    margin: 0;
    padding: 0;
    font-family:roboto;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 20px ;
    background-color: white;
}
.leftnavbar img{
    width: 30px;
}
.rightnavbar img{
    width: 30px;
}
.WelcomeLight{
    width: 230px;
}
.profiel{
    background-image: url("./assets/p.jpg");
    background-size: cover;
    padding: 140px 0;
}
.prf{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    align-content: center;
}
.prj{
    display: flex;
}
.prj img{
    flex: 1;
    width: 200px;
    border-radius: 100%;
    padding:0 20px ;
}
.featured{
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.featured h4{
    background-color: #F1F4F5;
    border-radius: 15px;
    padding: 20px;
    font-size: large;
}
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.aboutme p{
    display: flex;
    flex-direction: column;
    height:130px;
    width: 1000px;
    padding: 30px;
    border-radius: 15px;
    background-color: #F1F4F5;
}
.myskills{
    padding-bottom: 50px ;
}
.myskills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
.skillsIMG{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.skillsIMG img{
    width: 200px;
}
.textunderimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats{
    margin: 0 auto;
    width: 900px;
    padding-left: 100px;
    margin-bottom: 30px;
    animation-name: SlideRight;
    animation-duration: 2s;
    padding-left: 15px;
}
@keyframes SlideRight{
    from{transform: translateX(-300%);}
}
.stats2{
    margin: 0 auto;
    width: 900px;
    padding-left: 100px;
    margin-bottom: px;
    animation-duration: 2s;
    animation-name: SlideLeft;
    padding-left: 15px;
}
@keyframes SlideLeft{
    from{transform: translateX(300%);}
}
.skills img {width: 150px;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0px ;
    padding-left: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.MyProjects{
    padding: 30px 0;
}
.Projectsmain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    display: inline-block;
}
.box img{
    border: 2px solid black;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
}
.box img:hover{
    transform: scale(1.1);
}
.box a{
    color: black;
    text-decoration: none;
}
img{
    width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}
html{
    scroll-behavior: smooth;
}
.menu{
    height: 100%;
    position: fixed;
    background-color:lightgray;
    width: 0;
    top: 0; 
    left: 0; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}
.menu ul{
    padding: 8px 8px 8px 32px;
    list-style: none;
    background-color:lightgray;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu img{
    width: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: fixed;
}
.myskills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
.label {
    margin-bottom: 5px;
    font-size: 16px;
}
.bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.bar {
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    padding-left: 10px;
}
.css-bar {
    width: 90%;
    background-color: #265AEA; 
}
.html-bar {
    width: 85%;
    background-color: #EF6939; 
}
.python-bar {
    width: 50%;
    background-color: #4685B1; 
}
.Js-bar {
    width: 90%;
    background-color: #EFD81D; 
}
.Mern-bar {
    width: 85%;
    background-color: #12A54F; 
}
.Java-bar {
    width: 50%;
    background-color: #E87408; 
}
.skills img {width: 150px;
}
.myclients{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 100%;
    padding-bottom: 30px ;
}
.myclients img {
    width: 400px;
}
.clients{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    border: 5px solid #EDF2F6;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px #EDF2F6;
    padding-top: 5px;
    background-color: #F1F4F5;
}
.contactme h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    
}
.contactme{
    padding: 50px;
}
.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #F1F4F5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
}
.name-lastname{
    display: flex;
    gap: 30px;
    height: 40px;
}
footer{
    background-color:white;
    text-align: center;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: larger;
    color: black;
}
#image {
    width: 300px;
    height: 300px;
    transition: opacity 1s ease-in-out;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}
#prevImageBtn{
    color: white;
    background-color: black;
    width: 30px;
    height: 35px;
    border-radius: 5px;
}
#nextImageBtn{
    color: white;
    background-color: black;
    width: 30px;
    height: 35px;
    border-radius: 5px;
}
.all{
    background-image: url(./assets/allbg.jpg    );
}
label {
    display: block;
    margin: 5px 0;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
#responseMessage {
    margin-top: 10px;
    color: green;
}